*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    overflow-x: hidden;
    background-color: #f0f0f0;
}
nav{
    width: 100%;
    background-color: #fff;
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div img{
    width: 200px;
}
nav li{
    display: inline;
}
nav li a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-right: 50px;
}
nav li a:hover{
    color: #000;
    text-decoration: none;
}
nav li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: 0.3s;
}
nav li a:hover::after{
    width: 100%;
}
.sidenav{
    display: none;
}
#open{
    display: none;
}
@media all and (200px <= width <= 800px) {
    .sidenav{
        display: initial;
    }
    #open{
        display: initial;
        position: relative;
        top: 30px;
    }
    nav div img{
        margin: 0px auto;
    }
    nav div{
        height: 60px;
    }
    nav ul{
        display: none;
    }
}
@media all and (max-width : 820px) {
    nav ul{
        display: none;
    }
    .sidenav{
        display: initial;
    }
    #open{
        display: initial;
        position: relative;
        top: 30px;
    }
    nav div img{
        margin: 0px auto;
    }
    nav div{
        height: 60px;
    }
}

.box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip: padding-box;
}

/* #kin2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

#aa{
    text-decoration: none;
    font-size: 12px;
}

#bb{
    object-fit: cover;
    background-image: url(IMGCON1.jpg);
    background-size: 1350px 80vh;
    background-repeat: no-repeat;
}

#ee{
    color: #212529;
    text-decoration: none;
    margin-top: 20px;
}

#ee:hover{
    color: #fff;
}

#dd:hover{
    background: grey;
    color: #fff;
}

#cc{
    color: #212529;
    
}

#cc:hover{
    color: #fff;
    background: #212529;
}
#cc:hover #ee{
    color: #fff;
    background: #212529;
}

#dd{
    background: #212529;
    color: grey;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 13px;
}
.location-info {
   border: 2px solid #000;
   margin-bottom: 30px;
  }
  
  .locateUs {
    text-align: center;
  }
  
  .location-info p {
    margin-bottom: 10px;
  }
  
  .contact-info #email {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }

  footer{
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    background-color: #000;
    color: #fff;
}
#socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#socials span{
    font-size: 1.9rem;
    font-weight: bolder;
    margin-right: 40px;
}
#socials img{
    margin-right: 20px;
}
.policies span{ 
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.policies span a{ 
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.rights{
    text-align: center;
    font-size: .8rem;
}
hr{
    background-color: #fff;
}