.main{
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    row-gap: 16rem;
}

.bmw{
    background-image: url("BMW/wallpaperflare.com_wallpaper (1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}

.m-cars{
    width: 100%;
    padding: 1.3rem;
    color: white;
    height: 19rem;
    background-color: rgb(58, 56, 56);
    border-radius: 8px;
    
}
.a{
    color: white;
}
.a:hover{
    color: white;
    text-decoration: none;
}

 .text-bmw{
    margin-bottom: 1rem;
    
}


.mercedes{
    background-image: url("Mercedes/mercedes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}

.hyundai{
    background-image: url("Hyundai/hyundai_santa_cruz_xrt_2024_4k-HD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}
.audi{
    background-image: url("Audi/AUDI A7(i).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}
.ford{
    background-image: url("Ford/2019_ford_ranger_raptor_4k-HD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}
.honda{
    background-image: url("Honda/HONDA CIVIC DE 10ª GERAÇÃO É LANÇADO NOS EUA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}
.kia{
    background-image: url("Kia/Kia Stinger 2022.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}
.lexus{
    background-image: url("Lexus/Lexus frontcover (2).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}

.toyota{
    background-image: url("Toyota/2021 Toyota GR Supra 3_0 Tested_ Is the Upgraded A90 Quicker_ That Depends.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    width: 100%;
    border-radius: 8px;
}
