*{
    padding: 0;
    margin:0;

    
    
}
.container{
    background-color: black;
     height: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    
    
}
.warranties{
    font-size: 40px;
    font-family: monospace;
    margin-left: 470px;
    padding-top: 50px;
    color: whitesmoke;
    font-weight: bold;
}
.drive{
    font-size:27px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-left: 300px;
    padding-top: 30px;
    font-weight: lighter;
}
.war{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 210px;
    color: grey;
    font-weight: lighter;
}

.auto{
    font-size:35px ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 300px;
    padding-top: 10px;


}
.ties{
font-size: 20px;
font-family:monospace;
font-weight: bold;
margin-left: 500px;
padding-top: 25px;
color:dimgray;
}
a {
    padding-top: 50px;
    color: black;
    list-style-type: none;
    text-decoration: none;


    
}
.flexx{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    padding-top: 40px;
    list-style-type: none;

}
a.hover{
    color: orangered;
    text-decoration: underline;
    font-weight: bolder;
    
}
.flex{
    color: black;

}
.manu{
    font-weight: bolder;
    
    
}